*{
	box-sizing: border-box
}
html{
    min-height: 100%;
    position: relative;
}
html, body, #menu{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
	padding: 0;
	margin: 0;
}
body{
    background: #000;
    margin: 0;
    padding: 0;
}

p {
	margin-bottom: 20px;
}
.wrapper {
	width: 80%;
	margin: auto;
	overflow:hidden;
}
header {
	width: 100%;
	position: fixed;
	z-index: 10;
}

nav{
    display: flex;
    background-color: #212233;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
	border-bottom: 1px solid #9a9a9a;
	height: 50px;
	float: left;
	width: 100%;
}
#href{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    overflow: hidden;
    text-align: end;
}

form{
	border-radius: 100px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}
#buscador1{
    border: none;
	padding: 5px;
}
.imgs{
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.btnbuscador{
	background: none;
	border: none;
}
#cuentas{
	flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#inicio{
	position: absolute;
	right: 20px;
	background-color: #bc64e4;
	padding: 10px;
	border-radius: 8px;
	border: none;
}
.login{
	color: #FFFFFF;
	text-decoration: none;
}

.txtinicio{
	color: #bc64e4;
	border-right: solid 3px #bc64e4;
	padding: 5px;
	margin-top: 5px;
}
#menulateral{
	background-color: #212233;
	color: #FFFFFF;
	height: 100%;
	top: 0;
	left: 0;
	width: 200px;
	box-sizing: border-box;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	z-index: 100;
	width: max(8%, 200px);
	position: fixed;
}
#menulateral a{
	color: #FFFFFF;
	text-decoration: none;
}
#menulateral h2{
	margin-top: 0;
	text-align: center;
	padding: 10px;
	letter-spacing: 3px;
}
#menu-items{
	display: inline-block;
	overflow: hidden;
	width: 100%;
	justify-content: space-evenly;
}
#menu-items a{
	display: block;
}
#menu-items a:hover{
	color: #bc64e4;
	border-right: solid 3px #bc64e4;
}
.item{
	font-size: 20px;
}
.txt{
	padding: 5px;
	margin-top: 5px;
}
#i2{
	margin-top: 356px;
}


.contenido{
	display: grid;
	background-image: url(images/defaultas.jpg);
	color: #FFFFFF;
	padding-top: 80px;
	background-repeat: no-repeat;
}
.informacion{
	color: #ffffff;
	margin-left: 250px;
	margin-top: 50px;
	background-color: #1b1c30;
	width: 80.5%;
	border-radius: 15px;
	padding: 5px;

}
.informacion h2{
	margin-bottom: 5px;
	margin-left: 10px;
}
.informacion p, .it-cont p, .it-cont2 p{
	margin-top: 5px;
	margin-left: 10px;
}

#contenedores{
	display: flex;
}
.it-cont{
	background-color: #1b1c30;
	border-radius: 15px;
	padding: 5px;
	margin-left: 250px;
	margin-top: 50px;
	width: 25%;
}
.icons{
	width: 15px;
	height: 15px;
}
.titlecnt{
	display: flex;
	align-items: center;
    margin-left: 10px;
}
.titlecnt h2{
	margin-left: 5px;
}
.it-cont2{
	background-color: #1b1c30;
	border-radius: 15px;
	padding: 5px;
	margin-left: 50px;
	margin-top: 50px;
	width: 24.5%;
}
.img-div{
	width: 300px;
}
.cont-cont{
	display: grid;
	justify-items: center;
}
#space{
	height: 100px;
}
.it-cont:hover, .it-cont2:hover{
	cursor: pointer;
	transform: scale(1.1);
	border: 2px solid #9a9a9a;
}
a.hvdiv{
	color: #FFFFFF;
	text-decoration: none;
}
.img-div:hover{
	opacity: 0.5;
}
section{
	margin-left: 300px;
	width: 1216px;
	height: 353px;
}
#slider{
	width: 70%;
	margin: 0 auto;
	margin-top: 1%;
	border-radius: 15px;
	overflow: hidden;	
}
#containerslid{
	position: relative;
	display: grid;
	width: 100%;
	grid-template-columns: 100% 100% 100% 100% ;
	animation-name:mover  ;
	animation-duration: 28s;
	animation-iteration-count: infinite ;
	animation-direction: normal;
}
.imslid{
	width: 616px;
	height: 353px;
}
@keyframes mover{

	0%{ margin-left: 0%;

	}
	20%{
		margin-left: 0%;
	}

	25%{
		margin-left: -100%;
	}
	45%{
		margin-left: -100%;
	} 

	50%{
		margin-left: -200%;
	}
	70%{
		margin-left: -200%;
	}

	75%{
		margin-left: -300%;
	}

	95%{
		margin-left: -300%;
	}
	0%{
    margin-left: 0%;
	}
}
footer {

	color:#d3d3d3;
	margin-left: 200px;
	margin-top: 50px;
	text-align: end;
}
footer .copyright {
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
	padding-bottom: 0;
}
footer ul{
	margin-right: 190px;
	padding: 0;
}
.titular-foot{
	margin-bottom: 5px;
	margin-right: 190px;
}
footer a{
	color: #d3d3d3;
	text-decoration: none;
}

#videos {
    display: flex;
    justify-content: space-between;
	margin-left: 280px;
}

.videos-contenedor {
    flex: 1;
    margin-right: 10px; 
}
